/* --- Basic reset --- --- --- */
* { margin: 0; padding: 0; }
html { overflow: hidden; }
b, strong { font-weight: bold; }
i, em { font-style: italic; }
a { text-decoration: none;  }
body { pointer-events: none; }
#impress { pointer-events: auto; }

/* --- Imports --- --- --- */
@import "compass";
@import "_typography";

/* --- General styles --- --- --- */


/* --- Step styles --- --- --- */
$slideSize: 900px;
.step { 
	width: $slideSize; min-height: $slideSize - 100px;
	/*background: #EEE; */
	padding: 2em 2.5em; 

	@include box-sizing(border-box);
	@include single-transition(all, 0.5s, ease-in);

	&.center { text-align: center;  }

	h1, h2, h3 {

		&:first-child:last-child { 
			text-align: center; 
			margin-top: $slideSize/4 + ($slideSize/12); 
	  	}

		span {
			display: block; 
		   	font-size: 0.8em; line-height: 1.2em; 
			color: #666;
		}
	}
	
	img { 
		&.banner {
			display: block;
			width: 100%; 
			padding: 0.2em;
			background: #FFF; 
			border: 2px solid #CCC; 
		}
	} 

	pre code {
		@include border-radius(0.25em);
		@include box-shadow(#CCC 0 0 0.25em);
	}
}

/* --- All slides are invisible until active --- --- --- */
.impress-enabled .step { margin: 0; opacity: 0.3; }
.step:not(.active) { opacity: 0.0; }
.impress-enabled .step.active { opacity: 1; }

/* --- Impress not supported styles --- --- --- */
.fallback-message { 

	font-family: sans-serif; line-height: 1.3; display: none; width: 700px; padding: 10px 10px 0; margin: 20px auto; border-radius: 10px; border: 1px solid #E4C652; background: #EEDC94;
	
	p { margin-bottom: 10px; }
}

.impress-not-supported {
	
	.step { position: relative; opacity: 1; margin: 20px auto; }

	.fallback-message { display: block; }
}
