<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Презентациите на Мързеливеца</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/syntax.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<div class="site">

				{{ content }}

				<div class="footer">
					<div class="contact">
						<p>
							<strong>Konstantin Dankov</strong><br />
							Front End Developer, Project Manager, WordPress themer, Speaker
						</p>
						<p><a href="mailto:konstantin.dankov@gmail.com">konstantin.dankov@gmail.com</a></p>
						<p>
							<a href="http://twitter.com/yourusername/">twitter.com/kdankov</a><br />
							<a href="http://github.com/yourusername/">github.com/kdankov</a><br />
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
